<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cnn" connectionString="server=.\\DONGSQLSERVER; database=QuanLyBarHai; trusted_connection=true; trustservercertificate=true; MultipleActiveResultSets=true" />
		<add name="QuanLyBarHaiEntities" connectionString="metadata=res://*/QuanBar.csdl|res://*/QuanBar.ssdl|res://*/QuanBar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DONG-LAPTOP\DONGSQLSERVER;initial catalog=QuanLyBarHai;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Bar_Management.Properties.Settings.QuanLyBarHaiConnectionString" connectionString="Data Source=DONG-LAPTOP\DONGSQLSERVER;Initial Catalog=QuanLyBarHai;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>